@font-face {
  font-family: "BowlbyOneSC";
  src: url(assets/fonts/BowlbyOneSC-Regular.ttf);
}

@font-face {
  font-family: "Moderustic";
  src: url(assets/fonts/Moderustic-Regular.ttf),
  url(assets/fonts/Moderustic-Bold.ttf);
}

#root {
  max-width: 1600px; /* temporary */
  margin: 0 auto;
  font-family: "Moderustic", sans-serif;
}

.header {
  font-family: 'BowlbyOneSc', sans-serif;
  color: white;
  border: white 2px solid; /* temporary */
  font-size: 40px;
}

.maincontent {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 20px;
  margin-top: 25px;
  align-items: baseline; /* temporary */
}

.editor {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.editor div{
  min-height: 300px; /* temporary */
  background-color: white;
}

.viewer {
  min-height: 800px; /* temporary */
  background-color: white;
}

