@font-face {
  font-family: "BowlbyOneSC";
  src: url(assets/fonts/BowlbyOneSC-Regular.ttf);
}

@font-face {
  font-family: "Moderustic";
  src: url(assets/fonts/Moderustic-Regular.ttf),
  url(assets/fonts/Moderustic-Bold.ttf);
}

#root {
  max-width: 900px; /* temporary */
  margin: 0 auto;
  font-family: "Moderustic", sans-serif;
}

.header {
  font-family: 'BowlbyOneSc', sans-serif;
  color: white;
  font-size: 40px;
}

.maincontent {
  background-color: white;
  min-height: 900px;
  margin-top: 20px;
  padding: 20px;
}

.sectionhead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.sectionhead p {
  font-size: 14px;
  color: darkslateblue;
}

.sectionhead button {
  min-width: 80px;
  padding: 5px 20px;
  border: none;
  background-color: slateblue;
  font-style: inherit;
  color: white;
}

.maincontent hr {
  margin: 10px 0;
  border: 1px solid darkslateblue;
}

.sectionhead button:hover {
  background-color: darkslateblue;
}

.sectiondata {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.sectiondata .contact {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: baseline;
}

.contact p {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.sectiondata .name {
  font-size: 36px;
  font-weight: bold;
  color: darkslateblue;
}

.icon {
  width: 20px;
}
