@font-face {
  font-family: "BowlbyOneSC";
  src: url(assets/fonts/BowlbyOneSC-Regular.ttf);
}

@font-face {
  font-family: "Lato";
  src: url(assets/fonts/Lato-Regular.ttf),
  url(assets/fonts/Lato-Bold.ttf),
  url(assets/fonts/Lato-Italic.ttf),
  url(assets/fonts/Lato-BoldItalic.ttf);
}

#root {
  max-width: 900px; /* temporary */
  margin: 0 auto;
  font-family: "Lato", sans-serif;
}

.header {
  font-family: 'BowlbyOneSc', sans-serif;
  color: white;
  font-size: 40px;
}

.maincontent {
  background-color: white;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.sectionhead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.sectionhead p {
  font-size: 12px;
  color: darkslateblue;
  font-weight: bold;
}

button {
  min-width: 80px;
  padding: 5px 20px;
  border: none;
  background-color: slateblue;
  font-style: inherit;
  color: white;
}

.maincontent hr {
  margin: 10px 0;
  border: 1px solid darkslateblue;
}

button:hover {
  background-color: darkslateblue;
}

.sectionhead button:disabled {
  opacity: 0.4;
  background-color: slateblue;
}

.sectiondata {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.sectiondata .contact {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: baseline;
}

.contact p {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.sectiondata .name {
  font-size: 36px;
  font-weight: bold;
  color: darkslateblue;
}

.icon {
  width: 20px;
}

.personalinfoform {
  margin-top: 20px;
  background-color:gainsboro;
  padding: 20px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 40px;
}

.personalinfoform label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.personalinfoform input {
  font-size: 16px;
  padding: 5px 10px;
  font-family: inherit;
}

.aboutbox {
  grid-column: 1/-1;
}

.aboutbox textarea {
  min-height: 100px;
  font-size: 16px;
  padding: 5px 10px;
  font-family: inherit;
}

.btncontainer {
  grid-column: 1/-1;
  display: flex;
  justify-content: end;
  gap: 20px;
}

.course {
  font-size: 20px;
  font-weight: bold;
  color: darkslateblue;
}

.education {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.schoolndate {
  display: flex;
  flex-direction: row;
  gap: 20px
}

.educationalexp .sectiondata {
  gap: 20px;
}

.educationalexp .editor {
  margin-top: 20px;
  background-color:gainsboro;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.addedubutton {
  align-self: center;
}

.edulist {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.eduheader {
  display: grid;
  grid-template-columns: 3fr 3fr 1fr 1fr 2fr;
}

.eduheader p {
  font-size: 12px;
}

.eduitem {
  display: grid;
  grid-template-columns: 3fr 3fr 1fr 1fr 2fr;
}

.edulist button {
  justify-self: center;
}

.editor hr {
  margin: 2px 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.eduform {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.eduform button {
  align-self: center;
}

.eduform .inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 40px;
}

.eduform label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.eduform input {
  font-size: 16px;
  padding: 5px 10px;
  font-family: inherit;
}